.vs
Binaries/
Config/
Saved/Autosaves/
Saved/Backup/
Saved/Collections/
Saved/Crashes/
Saved/HardwareSurvey
Intermediate/

Content/Developers/*.*
Content/Levels/3D/City.umap
Content/Levels/3D/City_BuiltData.uasset

Plugins/PointCloudPlugin/Binaries/
Plugins/PointCloudPlugin/Intermediate/

Content/Geometry/Terrain.uasset